#customerdetails{
    padding-top: 12.5%;
    margin-left: 10%;
    text-align: left;
    width: 50%;
}

form{
    margin-top: 3%;
    margin-left: 25%;
}

table{
    text-align: center;
    width: 100%;
}

#personal{
    padding-right: 75px;
}

#delivery{
    padding-right: 69px;
}

#login{
    padding-right: 90px;
}

tbody{
    text-align: end;
}

td{
    width: 25%;
}

input[type="text"],input[type="password"],input[type="date"], input[type="email"]{
  font-family: 'Lato';
  font-size: 14px;
  width: 250px;
  appearance: none;
  box-shadow: none;
  border: solid 1px #3C3C3C;
  transition: border 0.3s;
}


input[type="text"]:focus,input[type="password"]:focus ,input[type="date"]:focus,input[type="email"]:focus {
  border: solid 1px #DA4246;
  outline: none;
  :invalid {border-color: #DA4246;}
  :invalid:not(:focus){boarder-color:#DA4246;}
  :valid{border-color: #3CB371;}
}

input[type="text"]:disabled{
  border: solid 1px #e6e6e6;
  outline: none;
}


input[type="text"]:valid,input[type="password"]:valid ,input[type="date"]:valid,input[type="email"]:valid {
    border-color: #3CB371;
}

h77{
    
}

#r.dropdown_id{
    width: 500px;
}

#submit:focus{
    outline: none;
}

#submit{
    margin-left: 55%;
}

footer{
    position: relative;
}